# =========================================
# Python
# =========================================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
.eggs/
*.log

# =========================================
# Virtual environments
# =========================================
.env
.venv
env/
venv/
ENV/

# =========================================
# PyInstaller / Build
# =========================================
build/
dist/
*.spec

# =========================================
# IDEs / PyCharm / VSCode
# =========================================
.idea/
*.iml
.vscode/

# =========================================
# Sistema Operacional
# =========================================
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini